# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  linux:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        go: ["~1.17", "^1.18"]

    name: Linux Go ${{ matrix.go }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2 # https://github.com/actions/checkout
        with:
          fetch-depth: '0' # 0 indicates all history for all branches and tags.
      - uses: actions/setup-go@v2 # See https://github.com/actions/setup-go
        with:
          stable: 'false'
          go-version: ${{ matrix.go }}

      - name: Build
        run: |
          export GO111MODULE=on
          go version
          make

      - name: "Test: prerequsites"
        run: |
          sudo test/install-prereq.sh

      - name: "Test: Integration test"
        run: make it DEFAULT_TEST_TARGET=test

      - name: "Test: Unit test"
        run: make ut

      # Run golint at the end of steps, because installing golint will
      # change "go.mod", and which may cause failure for unit test.
      - name: "Test: Golint"
        if: ${{ matrix.go != '~1.17' }}
        run: |
          export GO111MODULE=on
          go install honnef.co/go/tools/cmd/staticcheck@latest
          make golint

  macos:
    # The type of runner that the job will run on
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        go: ["~1.16"]

    name: macOS Go ${{ matrix.go }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2 # https://github.com/actions/checkout
        with:
          fetch-depth: '0' # 0 indicates all history for all branches and tags.
      - uses: actions/setup-go@v2 # See https://github.com/actions/setup-go
        with:
          stable: 'false'
          go-version: ${{ matrix.go }}

      - name: Build
        run: |
          export GO111MODULE=on
          go version
          make

      - name: "Test: prerequsites"
        run: |
          sudo test/install-prereq.sh

      - name: "Test: Integration test"
        run: make it DEFAULT_TEST_TARGET=test

      - name: "Test: Unit test"
        run: make ut
